
section{
    padding: 20px 20px 20px 0px;
}

h2{
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: darkblue;
}

body{
    background-color: rgb(198, 215, 237);
    margin: 80px;
}

.cuadrado{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

.services{
    color: rgb(74, 119, 242);
    text-align: center;
    padding-top: 50px;
}

.wdwo{
    color: darkblue;
    text-align: center;
}

.p1{
    text-align: center;
}

p{
    padding-top: 0px;
    margin-top: 0px;
}



.circulo{
    background-color: rgba(0, 0, 255, 0.688);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 34px;
}

.lineadiv{
    gap: 10px;
    display: flex;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
